@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
body {
   font-family: "Lato", sans-serif;
   box-sizing: border-box;
   margin: 0;
   background-color: #fff;
}
.container {
   max-width: 1200px;
   margin: 0 auto;
}
.info{
   margin: 25px;
}
.info-name{
   font-size: 40px;
   font-weight: 700;
   padding: 25px;
}